* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
html {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    header {
        width: 100%;
        height: 88px;
        background: #eee;
        display: flex;
        flex-direction: column;
        line-height: 44px;
        p {
            width: 100%;
            height: 44px;
            display: flex;
            input {
                flex: 1;
                height: 33px;
                margin-top: 6px;
                border: none;
                padding-left: 20px;
            }
            span {
                width: 50px;
                text-align: center;
                color: ccc;
            }
        }
        .ul {
            width: 100%;
            height: 44px;
            display: flex;
            li {
                width: 14.2%;
                text-align: center;
            }
        }
    }
    main {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-direction: column;
        .top {
            width: 100%;
            height: 80px;
            display: flex;
            dl {
                width: 20%;
                dt {
                    width: 100%;
                    img {
                        width: 100%;
                    }
                }
                dd {
                    text-align: center;
                    line-height: 30px;
                    color: #f00;
                }
            }
        }
        .banner {
            width: 100%;
            height: 200px;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    footer {
        width: 100%;
        height: 44px;
        background: #fcc;
    }
}